@charset "utf-8";
/* CSS Document */

/*------ Geral ------- */

article,aside,footer,header,hgroup,nav,section {
display: block;
}

article,section {
margin:0; 
padding:0; 
}

html, body {height:100%;}

body {

margin:0; 
padding:0; 
background: #000;
font-family: 'Droid Sans', sans-serif;
color:#fff;
text-align:left;

}


a:link{ text-decoration: underline; color: #00cce4;}
a:visited { text-decoration: underline; color:#ccc;}
a:focus { text-decoration: underline; color: #00cce4;}
a:hover { text-decoration: none; color: #00cce4; }
a:active { text-decoration: underline; color: #00cce4;}

a.az:link{ text-decoration: none; color:#00cce4;}
a.az:visited { text-decoration: none; color:#ccc;}
a.az:focus { text-decoration: none;  color:#00cce4;}
a.az:hover { text-decoration: underline;  color:#00cce4;}
a.az:active { text-decoration: none; color:#00cce4;}

a.cz:link{ text-decoration: none; color:#fff;}
a.cz:visited { text-decoration: none; color:#ccc;}
a.cz:focus { text-decoration: none;  color:#fff;}
a.cz:hover { text-decoration: underline;  color:#fff;}
a.cz:active { text-decoration: none; color:#fff;}

a.azesc:link{ font-weight:bold; text-decoration: underline; color:#00cce4;}
a.azesc:visited { font-weight:bold; text-decoration: underline; color:#ccc;}
a.azesc:focus { font-weight:bold; text-decoration: underline; color:#00cce4;}
a.azesc:hover { font-weight:bold; text-decoration: none; color:#00cce4;}
a.azesc:active { font-weight:bold; text-decoration: underline; color:#00cce4;}


.negrito {font-weight:bold;}
.italico {font-style:italic;}
.destaque {font-style:italic; }
.destaqueverm {font-weight:bold; color:#00afc4; }
.center {text-align:center; margin: auto;}

h1 { margin:0; padding: 0;}

h2 { 

background-color:#00afc4;
text-align:center;
min-width: 252px;
width:19%;
color: #FFFFFF;
margin: 0 auto;
margin-bottom: 20px;
font-weight: normal; }

h3 { color: #fff; }
h3.jobs1 { color: #fff; font-weight:bold; }


.titulo {width: 100%;  margin: 0 auto; padding: 0; text-align:center;}

.textointro { color:#fff; }

.descricaoempresa { text-align: left;}


/*------ Container ------- */

#container {
width: 100%;
min-height: 100%;
height: 100%;
margin: 0;
padding: 0;
position: relative;

}

* html #container {
	height: 100%; /* hack para IE6 que trata height como min-height */
	}


.maxwidth {
width: 100%;
max-width: 1440px;
margin: 0 auto;
position: relative;
padding:0;
background-color:#004271;

}


/*------ Top ------- */

#top {
width: 100%;
max-width:100%;
height: auto;
margin:0;
padding:0;
text-align:center;

}

#acessibilidade{
width: 90%;
padding: 6px 5% 2px 5%;
margin: 0;
background-color: #000;
text-align:center;


 }
 
.left {
float: left;
display: inline;
position:relative;
width: auto;
height: auto;
margin:0;
padding:0;
}

@media only screen and (min-width:769px), screen and (min-device-width:769px) {

.center {
text-align:center;
margin: 0 30px 0 50px;
float: left;
display: inline;
position:relative;
height: auto;

}
}

@media only screen and (max-width:768px), screen and (max-device-width:768px) {

.center {
text-align:center;
margin: 0 10px 0 20px;
float: left;
display: inline;
position:relative;
height: auto;

}
}

.right {
width: auto;
height: auto;
float: right;
display: inline;
position:relative;
margin:0;
padding:0;

}

a.tamfonte{
background-color:#f9f9f9;
color:#333333;
text-decoration: none;
padding:8px;
margin:3px 5px 0 0;
border: 2px solid #fff;
border-radius: 50%;
font-weight:bold;
}

a.tamfonte:hover {
background-color:#000000;
color:#FFFFFF;
text-decoration: none;
padding:8px;
margin:3px 5px 0 0;
border: 2px solid #fff;
border-radius: 50%;
font-weight:bold;
}

/*------ Menu ------- */


#menu {

width: 94.375%;
padding: 20px 2.8125% 15px 2.8125%;
margin:0;
background-color: #004271;
display:inline;
float:left;
text-align:center;

}


#menu ul {

margin: 0;
padding: 0;
list-style-type: none;
}

#menu li {

display: inline;
padding:0 0.6%;
margin: 0;
}

#menu li a {

font-family: 'Droid Sans', sans-serif;
color:#fff;
padding:0.6% 0.7%;
text-decoration: none;

}

#menu li a:hover, #menu li a:focus {

font-family: 'Droid Sans', sans-serif;
color:#fff;
text-decoration: none;
padding:0.6% 0.7%;
border-radius: 6px;
background-color:#00afc4;
}



/*------ header ------- */

header {

width: 100%;
max-width: 1440px;
height: auto;
margin:0;
padding:0;
display:inline;
position:relative;
background-color:#e6e6dc;
text-align:center;
}


.textotop {

width:90%; /* 243px/1280 */
height:auto;
text-align:center;
color:#FFFFFF;
float:left;
margin: 0 5%;
position: absolute;
z-index:10;  
}

.divimg {
width: 100%;
max-width: 1440px;
height:auto;
max-height: 343px;
position:relative;
float: left;
display:inline;
margin:0;
padding:0;
}

.faixavisual {
width: 100%;
height:auto;
max-height: 343px;
padding:0;
margin:0;
}


/*------ Conteúdo ------- */

#conteudopag {

width: 90%;
padding: 30px 3% 10px 3%;
height: auto;
margin: 30px 2% 30px 2%;
min-height: 200px;
background-color:#004271;
float:left;
display:inline;
position:relative;
}

hr {
width: 100%;
border: 1px dotted #CCCCCC;
margin: 16px 0;
}

.foto {
width: 100%;
height:auto;
border-radius: 8px;}

.foto2 {
width: 40%;
max-width: 274px;
height:auto;
float: left;
margin-right: 4%; 
border-radius: 8px;}

a.linkdestaque {

color: #ffffff;
padding:12px 16px;
border: 0px;
margin-right: 5px;
font-size: 1em;
background-color: #cc3333;
border-radius: 8px;
text-decoration: none;
}

a.linkdestaque:hover {

color: #ffffff;
padding:12px 16px;
border: 0px;
margin-right: 5px;
font-size: 1em;
background-color: #9e0000;
border-radius: 8px;
text-decoration: underline;

}

/*------ Conteúdo Home ------- */

.oquefazemos {
width: 100%;
padding: 70px 0 0 0;
}

hr.pq {
width: 65%;
border: 1px dotted #CCCCCC;
margin: 10px 0;
}

hr.pq2 {
width: 60%;
border: 1px dotted #CCCCCC;
margin: 10px 0;
}

hr.pq3 {
width: 44%;
border: 1px dotted #CCCCCC;
margin: 10px 0;
}


.esquerda {
float: left;
display: inline;
position:relative;
width: 42%;
height: auto;
margin:0;
padding:0 3% 0 0;
}

.direita {
float: right;
display: inline;
position:relative;
width: 52%;
height: auto;
margin:0;
padding: 0 0 0 3%;
}

.ilustracao {
width: 27.32%;
height: auto;
margin-right: 4.5%;
margin-bottom: 20px;
float:left;
display:inline;
max-width: 181px;
}

.ilustracao2 {
width: 33%;
height: auto;
margin-right: 4.5%;
margin-bottom: 20px;
float:left;
display:inline;
max-width: 181px;
}


#qdroserv {
width: 82.2%;
padding: 30px 8.9% 0 8.9%;
height: auto;
background-color: #000;
position:relative;
}

#qdroserv li {
width: 100%;
border-bottom: 1px #d0d0c7 solid;
padding: 8px 0;
margin: 0;
list-style-image:url(../imagens/seta_branca.png);
list-style-position:inside;

}

.servicobottom {
width: 100%;
padding: 1% 0;
position:absolute;
bottom: 0;
left: 0;
background-color: #00211c;
text-align:center;
}


.portfoliohome {
float: left;
display: inline;
position:relative;
width: 40%; /* 508px/1325 */
height: auto;
padding: 0 5%; 
text-align:left;
margin: 10px auto;
}

.fotoportfoliohome {

width: 92%;
height:auto;
padding: 4%;
border: 1px #cccccc solid;
margin: 10px auto;
}

#atividades .img-container {background-color: #fff;}

/*------ Quem Somos ------- */

#qdroempresas {
width: 90%;
padding: 30px 5% 0 5%;
height: auto;
min-height: 400px;
background-color: #000;
position:relative;
}



.empresa {
width: 28%;
margin: 1.5%;
background-color:#000;
padding: 1.1%;
min-height: 60px;
display:inline;
float:left;
border-radius: 8px;
text-align:center;
}

.logo {
width: 100%;
height:auto;
max-width: 275px;
}

.logo2 {
width: 50%;
height:auto;
max-width: 275px;
}

hr.logos {
width: 100%;
border: 1px dotted #CCCCCC;
margin: 5px 0;
text-align:center;
}

.titempresa {
font-size: 1.125em;
font-weight:bold;
line-height:1em;
}

.txtempresa {
font-size: 0.875em;
line-height: 0.9em;

}

hr.proj {
width: 80%;
border: 1px dotted #CCCCCC;
margin: 5px 0;
}


.fprojeto {
width: 15%;
height: auto;
margin-right: 3%;
margin-bottom: 10px;
max-width: 207px;
float:left;
display:inline;
}

.oprojeto { 
margin: 40px 0 50px 0; 
background-color: #000;
padding: 3%;}

.esquerda2 {
float: left;
display: inline;
position:relative;
width: 52%;
height: auto;
margin:0;
padding:0 3% 0 0;
}

.direita2 {
float: right;
display: inline;
position:relative;
width: 42%;
height: auto;
margin:0;
padding: 0 0 0 3%;
}

/*------ Serviços ------- */


#qdrocor {
width: 90%;
padding: 30px 5% 0 5%;
height: auto;
background-color: #004271;
position:relative;
border-radius:10px;
border: 2px #CCCCCC solid;
}


.esquerda3 {
float: left;
display: inline;
position:relative;
width: 46%;
height: auto;
margin:0;
padding:0 4% 0 0;
}

.direita3 {
float: right;
display: inline;
position:relative;
width: 46%;
height: auto;
margin:0;
padding: 0 0 0 4%;
}

/*------ Acessibilidade na Web ------- */

.fotoconteudo {
width: 42%;
height: auto;
margin-right: 3%;
margin-bottom: 20px;
float:left;
display:inline;
max-width: 400px;
border-radius: 12px;
border: 1px #999 solid;
}



/*------ Serviços ------- */

.navegadores {
width: 40%;
height: auto;
display:inline;
max-width: 500px;
}

/*------ Portfolio ------- */

.jobs {
 width: 100%;
 height: auto;
 margin-bottom: 20px;
 border-bottom: 1px #ccc solid;
 padding:30px 0;
 position:relative;
 min-height: 380px;


}

.fotoportfolio {
width: 50%;
max-width: 500px;
height:auto;
margin-right: 4%;
margin-bottom: 20px;
float: left;
display: inline;
position:relative;
}


/*------ Equipe ------- */


.qdroequipe1 {background-color: #000;}

.qdroequipe {
width: 26%;
margin: 20px 1.6%; 
background-color: #000;
padding: 20px 2%;
float:left;
display:inline;
text-align: center;}


.equipe1 {
width: 42%;
margin: 1.5%;
background-color:#004271;
padding: 1%;
min-height: 60px;
display:inline;
float:left;
border-radius: 8px;
text-align:center;
}


.equipe {
width: 21%;
margin: 1.5%;
background-color:#004271;
padding: 1%;
min-height: 60px;
display:inline;
float:left;
border-radius: 8px;
text-align:center;
}


.prof1 {
width: 48%;
margin: 10px 1%;
float:left;
display: inline;
height: auto;
min-height: 120px;
}

.prof {
width: 48%;
margin: 10px 1%;
display: inline;
height: auto;
min-height: 120px;
}

.fotoequipe {
display: inline;
width: 96%;
height: auto;
}

.qdrparceiros {
width: 28%;
padding: 10px 1%;
margin: 1.4%;
min-height: 250px;
float: left;
display: inline;
height: auto;
background-color: #000;
position:relative;
border-radius:10px;
border: 2px #CCCCCC solid;
}

/*------ Contato ------- */

table {border:none; width: 90%;}
td {padding: 10px 5px;}
fieldset {border:none;}

.campo {
	font-family: 'Droid Sans', sans-serif;
	color: #333;
	border: 2px #999 solid;
	background-color: #fff;
	height: 24px;
	padding: 4px;
	font-size: 1em;
	border-radius: 8px;
}

.campo2 {
	font-family: 'Droid Sans', sans-serif;
	color: #333;
	background-color: #fff;
	border: 2px #999 solid;
	padding: 8px;
	font-size: 1em;
	border-radius: 8px;


}

.botaoenviar {

color: #ffffff;
padding:8px 14px;
border: 0px;
margin-right: 5px;
font-size: 1em;
background-color: #cc3333;
}

.botaoenviar:hover {

color: #ffffff;
padding:8px 14px;
border: 0px;
margin-right: 5px;
font-size: 1em;
background-color: #9e0000;

}

.botaolimpar {

background-color: #fff;
border: 1px solid #CCCCCC;
color: #333333;
padding:8px 14px;
margin-right: 5px;
font-size: 1em;

}

/*------ Acessibilidade do Site ------- */

.qdroacesso {
width: 82.2%;
padding: 30px 8.9% 0 8.9%;
height: auto;
background-color: #000;
position:relative;
}




/*------ Mapa do Site ------- */

.itemmapa {
width: 18%;
padding: 10px 1%;
height: auto;
float: left;
display:inline;
min-height: 250px;
margin-bottom: 30px;
} 


.itemmapa2 {
width: 24%;
padding: 10px 1%;
height: auto;
float: left;
display:inline;
min-height: 250px;
margin-bottom: 30px;
}

.titmapa {
width: 100%;
font-weight: bold;
padding: 5px 0;
text-align: center;
margin: auto;
}


/*------ rodape ------- */


footer {
width: 94%;
max-width: 1440px;
padding: 1.8% 3%;
margin: 0;
height: auto;
min-height: 150px;
background-color:#0000CD;
color:#FFFFFF;
float:left;
display:inline;

}

.destaquebottom {
font-weight:bold;
}

.infocontato {

width: auto;
float:left;
margin-right: 3%;
display:inline;

}

.selos {

width: 30%;
float:right;
display:inline;
text-align:right;

}

.acessoparatodos {
float:right;
width: 41%;
height:auto;
border:none;
margin-top: 10px;
}

#addthis {
font-family: 'Droid Sans', sans-serif;
float:left;
margin: 12px 0 12px 0;

}

