@charset "utf-8";
@media only screen and (min-width:769px),
screen and (min-device-width:769px) {
    body {
        font-size: 1.2em;
        line-height: 2.4em;
    }
}

@media only screen and (max-width:768px),
screen and (max-device-width:768px) {
    body {
        font-size: 0.975em;
        line-height: 1.9em;
    }
}

a.azesc:link {
    font-size: 0.875em;
}

a.azesc:visited {
    font-size: 0.875em;
}

a.azesc:focus {
    font-size: 0.875em;
}

a.azesc:hover {
    font-size: 0.875em;
}

a.azesc:active {
    font-size: 0.875em;
}

@media only screen and (min-width:1025px),
screen and (min-device-width:1025px) {
    .textotop {
        font-size: 1.375em;
        top: 30px;
        min-height: 90px;
    }
    .destaque {
        font-size: 0.9em;
        line-height: 2em;
    }
}

@media only screen and (max-width:1024px),
screen and (max-device-width:1024px) {
    .textotop {
        font-size: 1.1em;
        top: 20px;
        min-height: 80px;
        line-height: 1.5em;
    }
    .destaque {
        font-size: 0.8em;
        line-height: 1em;
    }
}

@media only screen and (max-width:768px),
screen and (max-device-width:768px) {
    .textotop {
        font-size: 0.9em;
        top: 10px;
        min-height: 60px;
        line-height: 1.6em;
    }
    .destaque {
        font-size: 0.8em;
        line-height: 0.9em;
    }
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: 1.25em;
}

.subtitulo {
    font-size: 1.1em;
    line-height: 1.5em;
}

.breadcrumb {
    font-size: 0.8em;
}

.submenu {
    font-size: 0.875em;
}


/*------ Top ------- */

@media only screen and (min-width:769px),
screen and (min-device-width:769px) {
    #acessibilidade {
        font-size: 0.8125em;
        height: 54px;
    }
}

@media only screen and (max-width:768px),
screen and (max-device-width:768px) {
    #acessibilidade {
        font-size: 0.7em;
        height: 34px;
    }
}

#top {
    min-height: 73px;
    /*-- 108px - 8px acess - 30px menu --*/
}


/*------ header ------- */

header {
    max-height: 343px;
}

.textotop {
    max-height: 165px;
}

@media only screen and (min-width:1025px),
screen and (min-device-width:1025px) {
    #menu {
        height: 69px;
        /* 69px */
    }
    #menu li a {
        font-size: 1.1em;
        line-height: 1.3em;
    }
    #menu li a:hover {
        font-size: 1.1em;
        line-height: 1.3em;
    }
}

@media only screen and (max-width:1024px),
screen and (max-device-width:1024px) {
    #menu {
        height: auto;
        /* 69px */
    }
    #menu li a {
        font-size: 0.97em;
        line-height: 1.1em;
    }
    #menu li a:hover {
        font-size: 0.97em;
        line-height: 1.1em;
    }
}

@media only screen and (max-width:768px),
screen and (max-device-width:768px) {
    #menu {
        height: 34px;
        /* 69px */
    }
    #menu li a {
        font-size: 0.8em;
        line-height: 1em;
    }
    #menu li a:hover {
        font-size: 0.8em;
        line-height: 1em;
    }
}


/*------ Home ------- */

.articlevazio {
    max-height: 460px;
}

.article {
    max-height: 460px;
}


/*------ rodape ------- */

.infocontato {
    font-size: 1.1em;
}

footer {
    line-height: 1.8em;
    font-size: 0.812em;
}

.destaquebottom {
    font-size: 1.125em;
}